@using ChildMaintenanceCalculator.Models.ViewModels;
@model Step1ReceivingParent;

@{
    string receivingParentIndex = ViewData["receivingParentIndex"].ToString();
    int receivingParentId = int.Parse(receivingParentIndex) + 1;
    string receivingParentHtmlId = $"ReceivingParent[{receivingParentIndex}]";
    Html.ViewData.TemplateInfo.HtmlFieldPrefix = receivingParentHtmlId;
}
<li id="@(receivingParentId)">
    <h2>Receiving Parent @(receivingParentId)</h2>

    <label>First Name</label>
    <input asp-for="FirstName" id="@(receivingParentHtmlId + ".NameInput")" class="changeThis"/>

    <ul id="addChildrenList">
        @{
            int childIndex = 0;
            foreach (Step1Child child in Model.Step1Children)
            {
                <li>
                    @await Html.PartialAsync("_AddChildPartial", child, new ViewDataDictionary(this.ViewData) { { "childIndex", childIndex} }))
                </li>

                childIndex++; //CHILD INDEX ONLY PARENT LOCAL TODO
            }
        }
    </ul>
</li>




