@using ChildMaintenanceCalculator.Models.ViewModels;
@using HtmlHelpers.BeginCollectionItemCore;
@model Step1Child;

@{
    string parentHtmlFieldPrefix = Html.ViewData.TemplateInfo.HtmlFieldPrefix;
    string childIndex = ViewData["childIndex"].ToString();
    int childId = int.Parse(childIndex) + 1;
    string childHtmlId = $"{parentHtmlFieldPrefix}.Child[{childIndex}]";
    Html.ViewData.TemplateInfo.HtmlFieldPrefix = childHtmlId;
}

@{
    using (Html.BeginCollectionItem("Step1Children"))
    {
        <div id="addChild">
            <!--TODO: Give this a dynamic index based ID-->

            <h2>Child @(childId)</h2>

            <label>First Name</label>
            <input asp-for="FirstName" />
            <br />

            <label>Pre-existing Arrangements?</label>
            <input asp-for="PreExistingArrangements"/>
            <br />

            <label>Pre-existing Arrangements Amount</label>
            <input asp-for="PreExisingArrangementsAmount" />

        </div>
    }
}