@model  User;

<div form-block>
    
    <div class="form-page-header">
        <div>
            <h3 class="form-step-title">
                Email Result
            </h3>
        </div>
        <div class="form-step-subinstruction">
            <span>
                Enter an email address below to send an email containing your calculation results
            </span>
        </div>
    </div>
    
    <form id="emailResult" enctype="multipart/form-data">

        <input type="text" class="email-address" name="EmailAddress" />

        <button type="submit" name="submit">Email Results</button>

    </form>
</div>

<script>
    $("#emailResult").on('submit', function (event) {
        event.preventDefault();

        var emailAddress = $('.email-address').val(); //TODO: Try using ID instead of class here

        if (emailAddress) {
            $.ajax({
                url: '/Home/EmailResult',
                datatype: 'json',
                data: { emailAddress: emailAddress  },
                type: 'POST',
                success: function () {
                    alert("Email sent successfully");
                },
                error: function() {
                    alert("Error sending email, please try again");
                }
            });
        }
    });
</script>
