@using System.Globalization
@model Calculation;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style scoped>
        @Html.Partial("_ResultPdfTemplateStylePartial");
    </style>


</head>
<body class="custom-body">
    <div class="container">
        <!--TODO: Config the message content-->
        <div>
            <h2>Child Maintenance Calculation Result</h2>
            <p>
                Thank you for using the Child Maintenance Calculator.<br />
                Please find your calculation results below.<br />
            </p>
        </div>

        @Html.Partial("_ResultPartial")

        @Html.Partial("_AnswersPartial")

        <div>
            <p>
                The calculator uses the Child Maintenance Services gross income formula (replacing the previous net income model used by the CSA). I really hope it helps in the discussions about the appropriate level of child maintenance.<br />
                <br />
                Regards,<br />
                <br />
                Alan Larkin<br />
                <strong>Head of Innovation & Technology, Family Law Partners</strong>
            </p>
        </div>
    </div>
</body>
</html>