<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style scoped>
        @Html.Partial("_ResultEmailTemplateStylePartial");
    </style>
       

</head>
<body>
    @using System.Globalization
@using ExtensionMethods
    @model ChildMaintenanceCalculator.Models.ViewModels.EmailTemplateViewModel;
    <!--TODO: Config the message content-->
    <div>
        <p>
            Hi
            @if (!String.IsNullOrWhiteSpace(Model.RecipientName))
            {
                @Model.RecipientName
            }
            ,
            <br />
            <br />
            Thank you for using the Child Maintenance Calculator.<br />
            Please find your calculation results below.<br />
        </p>
    </div>


    @Html.PartialFor(model => model.Calculation, "_ResultPartial")


<div>
    <p>
        <br/>
        The calculator uses the Child Maintenance Services gross income formula (replacing the previous net income model used by the CSA). I really hope it helps in the discussions about the appropriate level of child maintenance.<br/>
        <br/>
        You can view the questions and answers used to calculate these results in the attached PDF document.
        <br />
        Feel free to use the calculator again if any circumstances change. It can be found here LINK TBA. <br/>
        <br/>
        Regards,<br/>
        <br/>
        Alan Larkin<br/>
        <strong>Head of Innovation & Technology, Family Law Partners</strong>
    </p>
    </div>
</body>
</html>