@using ChildMaintenanceCalculator.Models.ViewModels;

@model AddReceivingParentsAndChildrenViewModel;
@{
        int receivingParentIndex = 0;
        int childIndex = 0;
 }

<form id="addReceivingParentsAndChildren" asp-controller="Home" asp-action="AddReceivingParentsAndChildren" method="post">


    @foreach (AddReceivingParentViewModel addReceivingParent in Model.AddReceivingParentViewModels)
    {
        <div id="addReceivingParent">
            <!--Give this a dynamic index based ID-->

            <h2>Receiving Parent @Model.AddReceivingParentViewModels.IndexOf(addReceivingParent).ToString()</h2>

            <label>First Name</label>
            <input asp-for="AddReceivingParentViewModels[receivingParentIndex].FirstName" />

            @foreach (AddChildViewModel addChild in addReceivingParent.AddChildViewModels)
            {

                <div id="addChild">
                    <!--Give this a dynamic index based ID-->

                    <h2>Child @addReceivingParent.AddChildViewModels.IndexOf(addChild).ToString()</h2>

                    <label>First Name</label>
                    <input asp-for="AddReceivingParentViewModels[receivingParentIndex].AddChildViewModels[childIndex].FirstName" />

                </div>

                childIndex++;
            }

        </div>

        receivingParentIndex++;

    }

    <button type="submit">Next</button>

</form>

