<div class="form-page-wrap">
    <div class="form-page-content">

        <div>
            <h3 class="calculator-title">
                Child Maintenance Calculator
            </h3>
        </div>

        <div class="form-block">
            <span>
                Sorry, an error occurred processing your calculation. Please click the button to start again.
            </span>
        </div>

        <input type="button" class="form-next-button" value="Start Calculation" onclick="location.href='@Url.Action("Step1", "Home")'" />

    </div>
</div>