@using ChildMaintenanceCalculator.Models.ViewModels;
@using  Newtonsoft.Json;
@using HtmlHelpers.BeginCollectionItemCore;
@using ExtensionMethods;

@model Step1ViewModel;

    <div class="form-page-wrap">
        <div id="Step1Page" class="form-page-content">

            <div>
                <h3 class="calculator-title">
                    Child Maintenance Calculator
                </h3>
            </div>
            <div class="form-page-header">
                <div>
                    <h3 class="form-step-title">
                        Step 1
                    </h3>
                </div>
                <div class="form-step-instruction">
                    <span>
                        Please enter the first name of each parent who will receive maintenance payments, and the first name of each child for whom maintenance is paid
                    </span>
                </div>
                <div class="form-step-subinstruction">
                    <span>
                        Pre-existing child maintenance arrangements can also be taken into account. If the paying parent has preexisting arrangements for any of their children, add them here and check the pre-existing arrangements box to add the amount.
                    </span>
                </div>
            </div>


            <form id="step1" asp-controller="Home" asp-action="Step1" method="post">

                <div id="addReceivingParentList">
                    @{
                        int receivingParentIndex = 0;

                        foreach (Step1ReceivingParent receivingParent in Model.Step1ReceivingParents)
                        {
                            Html.RenderPartial("_AddReceivingParentPartial", receivingParent);
                            receivingParentIndex++;
                        }
                    }
                </div>
                <span asp-validation-for="Step1ReceivingParents"></span>

                <input type="button" id="addReceivingParentButton" value="Add Parent" class="form-control-button add" />
                <br />
                <div class="form-buttons-container">
                    <button type="submit" class="form-next-button">Next</button>
                </div>
            </form>
            
            <!--TODO: Sort out all the document readys-->

            <script src="~/lib/jquery/dist/jquery.min.js"></script>

            <script>
                $(document).ready(function () {

                    $("#addReceivingParentButton").on('click', function () {
                        event.preventDefault();
                        //Calculate index for new item
                        var newParentIndex = $(".add-receiving-parent-div").length;
                        var newChildIndex = $(".add-child-div").length;
                        //Make request to Controller for new Partial
                        $.ajax({
                            type: "POST",
                            url: "Step1AddNewReceivingParent/?parentindex=" + newParentIndex + "&childindex=" + newChildIndex,
                            success: function (html) {
                                $("#addReceivingParentList").append(html);
                            },
                            error: function (jqHXR, textStatus, errorThrown) {
                                alert("Could not add new item: " + textStatus);
                            }
                        });
                    });

                });
            </script>

            <script>

                $(document).ready(function () {

                    $(document).on('click', ".addChildButton", function (evt) {
                        event.preventDefault();
                        var buttonClickedParentId = evt.target.getAttribute("data-addchildbtnid");
                        var targetParent = "addChildrenList" + buttonClickedParentId;
                        var parentHtmlFieldPrefix = evt.target.getAttribute("data-htmlfieldprefix");
                        var newChildIndex = $(".add-child-div").length;
                        $.ajax({
                            type: "POST",
                            url: "Step1AddNewChild/?index=" + newChildIndex + "&parentHtmlFieldPrefix=" + parentHtmlFieldPrefix,
                            success: function (html) {
                                $("#" + targetParent).append(html);
                            },
                            error: function (textStatus) {
                                alert("Could not add new item: " + textStatus);
                            }
                        });
                    });

                });

                $(document).ready(function () {

                    $(document).on('click', ".removeChildButton", function (evt) {
                        event.preventDefault();
                        var childDivId = $(this).closest(".add-child-div").attr('id');
                        var targetChild = $("#" + childDivId);
                        $(targetChild).slideUp("normal", function() { $(this).remove(); } );
                    });

                });

                $(document).ready(function () {

                    $(document).on('click', ".removeParentButton", function (evt) {
                        event.preventDefault();
                        var parentDivId = $(this).closest(".add-receiving-parent-div").attr('id');
                        var targetParent = $("#" + parentDivId);
                        $(targetParent).slideUp("normal", function() { $(this).remove(); } );
                    });

                });
            </script>
            
            <script>
                function preExistingArrangementsChanged(arr, childId) {
                    if (arr) {
                        $("#preexistingArrangementsAmount" + childId)[0].classList.remove("hidden-field");
                    } else {
                        $("#preexistingArrangementsAmount" + childId)[0].classList.add("hidden-field");
                    }
                };
            </script>

        </div>
    </div>
