@using ChildMaintenanceCalculator.Models.ViewModels;

@model Step1ViewModel;


<form id="step1" asp-controller="Home" asp-action="Step1" method="post">

    <ul id="addReceivingParentList">
        @{
            int receivingParentIndex = 0;

            foreach (Step1ReceivingParent receivingParent in Model.Step1ReceivingParents)
            {
                <li>
                    @await Html.PartialAsync("_AddReceivingParentPartial", receivingParent)
                </li>

                receivingParentIndex++;
            }
        }
    </ul>

    <input type="button" id="addReceivingParent" value="+" />

    <button type="submit">Next</button>

</form>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
</script>

<script>
    $(document).ready(function () {

        $("#addReceivingParent").on('click', function () {


        });
    });

</script>

