@using ChildMaintenanceCalculator.Models.ViewModels;

@model Step5ViewModel;

<div class="form-page-wrap">
    <div class="for-page-content">

        <div>
            <h3 class="calculator-title">
                Child Maintenance Calculator
            </h3>
        </div>
        <div class="form-page-header">
            <div>
                <h3 class="form-step-title">
                    Step 5
                </h3>
            </div>
        </div>
        
        <form id="step5" asp-controller="Home" asp-action="Step5" method="post">

            <div class="form-block">
                <div>
                    <label class="form-label">For how many other children does the paying parent or their partner receive child benefit?</label>
                </div>
                <div>
                    <input asp-for="OtherSupportedChildren" min="0"/>
                </div>
            </div>

            <button type="submit" class="form-next-button">Next</button>

        </form>

    </div>
</div>

