@using ChildMaintenanceCalculator.Models.ViewModels;

@model Step3AViewModel;

<div class="form-page-wrap">
    <div class="form-page-content">
        
        <div>
            <h3 class="calculator-title">
                Child Maintenance Calculator
            </h3>
        </div>
        <div class="form-page-header">
            <div>
                <h3 class="form-step-title">
                    Step 3
                </h3>
            </div>
        </div>

        <form id="step3A" asp-controller="Home" asp-action="Step3A" asp-route-back="false" method="post">

            <div class="form-block">
                <label class="form-label">Paying parent's gross annual income</label>
                <div>
                    <span class="currency-label">£</span><input asp-for="@Model.PayingParentAnnualIncome" />
                    <div class="hint">
                        <i class="fa fa-info-circle"></i>
                        <span class="hint-text">This is the paying parents annual income before Income Tax and National Insurance are taken off, but after occupational or personal pension scheme contributions are taken away</span>
                    </div>
                    <span asp-validation-for="PayingParentAnnualIncome"></span>
                </div>
            </div>
            
            <div class="form-block">
                <label class="form-label">Paying parent's annual contributions</label>
                <div>
                    <span class="currency-label">£</span><input asp-for="@Model.PayingParentAnnualPension" />
                    <div class="hint">
                        <i class="fa fa-info-circle"></i>
                        <span class="hint-text">This is the paying parents annual contributions to any private pension schemes</span>
                    </div>
                    <span asp-validation-for="PayingParentAnnualPension"></span>
                </div>
            </div>

            <div class="form-buttons-container">
                <input type="button" class="form-prev-button" value="Previous" onclick="location.href='@Url.Action("Step2", "Home", new { back = true })'" />
                <button type="submit" class="form-next-button">Next</button>
            </div>

        </form>
    </div>
</div>
