@using ChildMaintenanceCalculator.Models.ViewModels;

@model Step3BViewModel;

<div class="form-page-wrap">
    <div class="form-page-content">
        <div>
            <h3 class="calculator-title">
                Child Maintenance Calculator
            </h3>
        </div>
        <div class="form-page-header">
            <div>
                <h3 class="form-step-title">
                    Step 3
                </h3>
            </div>
        </div>

        <form id="step3B" asp-controller="Home" asp-action="Step3B" method="post">
                
            <div class="form-block">
                <label>How many nights per year does each child stay with the paying parent?</label>

                @{
                    int childIndex = 0;
                    foreach (Step3BChild child in Model.Step3BChildren)
                    {
                        <div id="childNightsPerYearLower" class="form-block">
                                
                            <div class="form-field">
                                <div>
                                    <label class="receiving-parent-title">@child.FirstName</label>
                                    <input asp-for="Step3BChildren[childIndex].Id" type="hidden"/>
                                </div>
                                
                                <div>
                                    @Html.RadioButtonFor(m => m.Step3BChildren[childIndex].NightsPayingParentCaresForChildPerYearLow, "<52")
                                    Less than once per week
                                    <br />
                                    @Html.RadioButtonFor(m => m.Step3BChildren[childIndex].NightsPayingParentCaresForChildPerYearLow, ">=52")
                                    Once per week or more
                                </div>
                            </div>
                            
                        </div>

                          childIndex++;
                    }
                }
            </div>

            <button type="submit" class="form-next-button">Next</button>

        </form>
    </div>
</div>
